@font-face {
    font-family: Norse-Bold;
    src: url('Norse-Bold.otf');
}
body {
    display: flex;
    height: 100vh;
}
div.sidebar {
    flex: 1 1 20%;
    background-image: url('maininki.jpg');
    align-items: space-between;
    flex-flow: column wrap;
    display: flex;
    justify-content: space-around;
}

div.logo {
    background-color: black;
    opacity: .3;
    color: white;
    font-family: 'Norse-Bold';
    font-size: 13em;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
div.logotext {
    opacity: 1;

}
div.main {
    flex: 3 1 60%;
    display: flex;
    background-color: #F0F0F0;
    flex-flow: column wrap;
}

p.credit {
    text-align: center;
    color: white;
}